{% trans_default_domain "LZCorePublicBundle" %}

<div class="modal-header">
    {{ "platforms.add_platform"|trans }}
</div>
<form ng-submit="addPlatform()">
    <div class="modal-body">
        {% include "LinkZoneCorePublicBundle:Platforms:partials/dialog_form.html.twig" %}
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-primary">{{ "common.cancel"|trans }}</button>
        <button type="submit" class="btn btn-primary">{{ "common.add"|trans }}</button>
    </div>
</form>
