{% extends "LinkZoneCoreAdminBundle::layout.html.twig" %}

{% block title %}LinkZoneCoreAdminBundle:ManageUsers:showSpecific{% endblock %}

{% block body %}
<h1>Welcome at the ManageUsers:showSpecific page</h1>
{% endblock %}
