<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Administration{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets 'bundles/linkzonecoreadmin/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="header"></div>
        <div id="main_menu">{{ knp_menu_render("main") }}</div>
        <div id="body">{% block body %}{% endblock %}</div>
        <div id="footer"></div>
    </body>
</html>
