#header {
    border: 1px solid black;
    height: 70px;
    border-radius: 6px;
    background: #B7B8DD;
    margin: 2px;
    paddign: 5px;
}

#main_menu {
    float: left;
    border: 1px solid black;
    border-radius: 6px;
    background: #B7B8DD;
    width: 20%;
    margin: 2px;
    paddign: 5px;
}

#body {
    float: right;
    border: 1px solid black;
    border-radius: 6px;
    background: #B7B8DD;
    width: 78%;
    margin: 2px;
    padding: 10px;
}

#footer {
    border: 1px solid black;
    border-radius: 6px;
    background: #B7B8DD;
    clear: both;
    margin: 2px;
    paddign: 4px;
}

/*
* Main admin menu
*/
#main_menu ul
{
    margin: 5px 0 0 5px;
    padding: 0;
    list-style: none;
}

#main_menu ul li
{
    margin: 0 0 8px 0;
}

#main_menu ul li a
{
    text-decoration: none;
    color: black;
    padding: 3px 5px;
    border-radius: 3px;
}

#main_menu ul li.current a {
    background: #8E91CA;
}

#main_menu ul li a:hover
{
    background: #A5A7D5;
}
