body {
    padding: 5px;
}

#header {
    border: 1px solid black;
    height: 70px;
    border-radius: 6px;
    background: #B7B8DD;
    margin: 2px;
    paddign: 5px;
}

#main_menu {
    float: left;
    border: 1px solid black;
    border-radius: 6px;
    background: #B7B8DD;
    width: 20%;
    margin: 2px;
    paddign: 5px;
}

#body {
    float: right;
    border: 1px solid black;
    border-radius: 6px;
    background: #B7B8DD;
    width: 78%;
    margin: 2px;
    padding: 10px;
}

#footer {
    border: 1px solid black;
    border-radius: 6px;
    background: #B7B8DD;
    clear: both;
    margin: 2px;
    paddign: 4px;
}

.table_common
{
    width: 100%;
    margin: 5px;
}

.table_common td
{
    padding: 4px;
}

.round_border
{
    border: 1px solid black;
    border-radius: 6px;
}

#helper_block,
#icon_tick,
#icon_cross,
#icon_loading {
    display: none;
}

.icon_loading,
.icon_tick,
.icon_cross
{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 6px;
}

.icon_tick
{
    background: url('/bundles/linkzonecoreadmin/images/icon_tick.png') 0 0 no-repeat;
}

.icon_cross
{
    background: url('/bundles/linkzonecoreadmin/images/icon_cross.png') 0 0 no-repeat;
}

.center
{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 70%;
    text-align: center;
}

.message_info
{
    font: italic 12pt sans-serif;
    display: inline-block;
    margin: 4px 5px;
}
