body {
    padding: 5px;
}

.table_common
{
    width: 90%;
    margin: 6px auto;
    border-collapse: collapse;
}

.table_common td,
.table_common th
{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.table_common thead th
{
    font-weight: bold;
    font: bold 14pt Garamond, Helvetica, Times New Roman;
}

.round_border
{
    border: 1px solid black;
    border-radius: 6px;
}

#helper_block,
#icon_tick,
#icon_cross,
#icon_loading {
    display: none;
}

.icon_loading,
.icon_tick,
.icon_cross
{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 6px;
}

.icon_tick
{
    background: url('/bundles/linkzonecoreadmin/images/icon_tick.png') 0 0 no-repeat;
}

.icon_cross
{
    background: url('/bundles/linkzonecoreadmin/images/icon_cross.png') 0 0 no-repeat;
}

h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center,
table.center,
div.center
{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80%;
    text-align: center;
}

table.center td,
table.center th
{
    text-align: left;
}


span.center {
    text-align: center;
}

.message_info
{
    font: italic 12pt sans-serif;
    display: inline-block;
    margin: 4px 5px;
}

.invisible {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.status {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 2px;
}

.platform_ACTIVE {
    background-color: #2fbe00;
}

.platform_ON_MODERATION {
    background-color: yellow;
}

.platform_DELETED {
    background-color: black;
    color: white;
}

.platform_BLOCKED {
    background-color: red;
}

.platform_DENIED {
    background-color: brown;
    color: white;
}

.user_ACTIVE {
    background-color: #2fbe00;
}

.user_FUNDS_BLOCKED {
    background-color: yellow;
}

.user_DELETED {
    background-color: black;
    color: white;
}

.user_BLOCKED {
    background-color: red;
}

.user_PASSIVE {
    background-color: #dddbdb;
    color: black;
}

.block_common {
    padding: 5px;
}

.half {
    width: 48%;
}

.bold {
    font-weight: bold;
}
