{% extends '::public.base.html.twig' %}

{% trans_default_domain "LZCorePublicBundle" %}

{% block title %}{{ parent() }} - {{ "menu.requests_exchange"|trans }}{% endblock %}

{% block body %}
<h1>{{ "menu.requests_exchange"|trans }}</h1>


{% endblock %}
